.introduccion {
  opacity: 0; /* Opacidad inicial */
  animation: fade-in 2.5s ease forwards; /* Animación de fade-in */
}

.card-overlay{
    background-color: rgba(0, 0, 0, 0.5); /* Color del overlay con transparencia */
}

.backgroud-image{
  background-image: url('https://wallpaperaccess.com/full/93604.jpg');
  background-size: cover;
  overflow-y: auto;
}





@keyframes fade-in {
  from {
    opacity: 0; /* Opacidad inicial */
    transform: translateY(-20px); /* Desplazamiento inicial */
  }
  to {
    opacity: 1; /* Opacidad final */
    transform: translateY(0); /* Sin desplazamiento */
  }
}

.text-border {
  color: black; /* Color del texto */
  text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; /* Crea un borde blanco alrededor del texto */
}
.img-hover:hover {
  transform: scale(1.4); /* Aumenta el tamaño de la imagen al 110% */
  transition: transform 0.9s ease; /* Agrega una transición suave al cambio de tamaño */
  cursor: pointer;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
}

.float-animation {
  animation: float 2s ease-in-out infinite;
}




