<div class="h-screen w-screen backgroud-image">
  <div class="h-100 w-full flex flex-col card-overlay items-center">

    <div class="text-center introduccion py-20">
      <h1 class="text-5xl font-bold text-border">Hola , soy Leo!</h1>
      <div class="flex flex-col items-center">
        <h2 class="text-2xl text-white py-8">Estudiante de Ingenieria-Analista Programador</h2>
        <div class="flex">
          <a href="https://gitlab.com/LeoLontoyaG" target="_blank">
            <img class="h-10 w-10 m-3 img-hover" src="../../assets/Images/gitlab-logo.png">
          </a>
          <a href="https://www.linkedin.com/in/leo-lontoya-gutierrez/" target="_blank">
            <img class="h-10 w-10 m-3 img-hover"  src="../../assets/Images/linkedin-logo.png">
          </a>
        </div>
      </div>
    </div>

    <div class="flex justify-center py-20 w-5/6">
      <div class="flex flex-col items-center  bg-black bg-opacity-80 rounded-3xl">
        <h2 class="text-white font-bold text-3xl py-3">Sobre mi</h2>
        <div class="text-white p-5">
          Estudie la carrera de Ingeniería Informática, con materias y tesis pendientes, realice cursos virtuales sobre diferentes lenguajes cuento con conocimientos en C#, Python, JS, TS, React-native, Angular, HTML, CSS, .Net, NetCore y SQL. Algunas de mis fortalezas es que aprendo y me adapto rápido, busco la manera de optimizar recursos y desempeñar mi labor de manera eficiente y una de mis debilidades es que soy muy juicioso a la hora de realizar una entrega sin medir el tiempo que pueda tomar y puedo ser muy detallista hasta terminar con el trabajo.
        </div>
      </div>
    </div>

    <div class="flex justify-center py-14 w-5/6">
      <div class="flex flex-col items-center bg-black bg-opacity-80 rounded-3xl w-full">
        <h2 class="text-white font-bold text-3xl py-3">Habilidades</h2>
        <div class="flex flex-col items-center p-5">
          <div class="text-white font-bold text-2xl my-10 flex flex-col items-center">
            Front-End
            <div>
              <div class="flex flex-col sm:flex-row items-center my-5">
                <div class="flex flex-col items-center ">
                  <img class="h-28 w-32 float-animation mx-10" src="../../assets/Images/Angular.png">
                  <p class="text-white font-bold text-xl my-4">Angular </p>
                </div>
                <div class="flex flex-col items-center ">
                  <img class="h-28 w-32 float-animation mx-10"  src="../../assets/Images/React.png">
                  <p class="text-white font-bold text-xl my-4">React  </p>
                </div>
                <div class="flex flex-col items-center ">
                  <img class="h-28 w-32 float-animation mx-10" src="../../assets/Images/Tailwind.png">
                  <p class="text-white font-bold text-xl my-4">Tailwind  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-white font-bold text-2xl my-10 flex flex-col items-center">
            Back-End
            <div class="flex flex-col sm:flex-row items-center my-5">
              <div class="flex flex-col items-center ">
                <img class="h-28 w-28 float-animation mx-10" src="../../assets/Images/Net.png">
                <p class="text-white font-bold text-xl my-4">.Net  </p>
              </div>
              <div class="flex flex-col items-center ">
                <img class="h-28 w-32 float-animation mx-10" src="../../assets/Images/postgres.png">
                <p class="text-white font-bold text-xl my-4">Postgres  </p>
              </div>
              <div class="flex flex-col items-center ">
                <img class="h-28 w-32 float-animation mx-10" src="../../assets/Images/microsoft-sql-server-logo.png">
                <p class="text-white font-bold text-xl my-4">SQL Server  </p>
              </div>
              <div class="flex flex-col items-center ">
                <img class="h-28 w-32 float-animation mx-10" src="../../assets/Images/sqlite.png">
                <p class="text-white font-bold text-xl my-4">SQLite </p>
              </div>
            </div>
          </div>
          <div class="text-white font-bold text-2xl my-10 flex flex-col items-center">
            Mobile
            <div class="flex flex-col sm:flex-row items-center my-5">
              <div class="flex flex-col items-center ">
                <img class="h-28 w-32 float-animation mx-10" src="../../assets/Images/Android.png">
                <p class="text-white font-bold text-xl my-4">Android Studio  </p>
              </div>
              <div class="flex flex-col items-center ">
                <img class="h-28 w-32 float-animation mx-10" src="../../assets/Images/expo.png">
                <p class="text-white font-bold text-xl my-4">Expo </p>

              </div>
              <div class="flex flex-col items-center ">
                <img class="h-28 w-32 float-animation mx-10" src="../../assets/Images/React.png">
                <p class="text-white font-bold text-xl my-4">React Native  </p>

              </div>
              <div class="flex flex-col items-center ">
                <img class="h-28 w-28 float-animation mx-10" src="../../assets/Images/Ionic.png">
                <p class="text-white font-bold text-xl my-4">Ionic  </p>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="flex justify-center py-20 w-5/6">
      <div class="flex flex-col items-center bg-black bg-opacity-80 rounded-3xl w-full">
        <h2 class="text-white font-bold text-3xl py-10">Experiencia Laboral</h2>
        <div class="text-white p-5 w-full flex flex-col lg:flex-row justify-center items-center gap-10">
          <div class="flex flex-col items-center text-center w-full lg:w-2/5 border-white border-2 mx-5 rounded-3xl mb-5 lg:mb-0">
            <p class="text-3xl font-bold">Likechuck</p>
            <p class="text-xl py-3">Full Stack Developer</p>
            <p>Participé activamente en el diseño y la implementación de diversos proyectos, con un enfoque principal en el desarrollo de nuevas funcionalidades y el mantenimiento de las ya existentes, cumpliendo con criterios de Clean Code, SOLID y Git Flow para trabajos colaborativos</p>
          </div>
          <div class="flex flex-col items-center text-center w-full lg:w-2/5 border-white border-2 mx-5 rounded-3xl">
            <p class="text-3xl font-bold">Likechuck</p>
            <p class="text-xl py-3">Analista Programador</p>
            <p>Fui encargado de estructurar las bases de datos, diseñar y desarrollar la lógica del Back End siguiendo diversas arquitecturas, así como diseñar las interfaces del Front End. Además, implementé metodologías ágiles como Scrum y utilicé un Kanban board a través de plataformas como Trello</p>
          </div>
        </div>
      </div>
    </div>
    

    
  </div>
</div>


